<div class="container">
    <h1>MPD Configuration</h1>
    <p>If you mess up with this configuration you can <a data-toggle="modal" href="#mpd-config-defaults">reset to default</a>.</p>
    <form class="form-horizontal" data-validate="parsley" action="" method="post">


		<fieldset>
            <legend>General Playback options</legend>
            <div class="control-group" >
                <!--<label class="control-label" for="port">Port</label>
                <div class="controls">
                    <input class="input-large" class="input-large" type="text" id="port" name="conf[port]" value="$_mpd[port]" data-trigger="change" disabled>
                    <span class="help-block">This setting is the TCP port that is desired for the daemon to get assigned to.</span>
                </div>
            </div>
            <div class="control-group" >
                <label class="control-label" for="log-level">Log level</label>
                <div class="controls">
				   <select id="log-level" name="conf[log-level]" class="input-large">
                        <option value="default"  >default</option>
                        <option value="secure"  >secure</option>
                        <option value="verbose" >verbose</option>
                    </select> 
					
                    <span class="help-block">This setting controls the type of information which is logged. Available setting arguments are "default", "secure" or "verbose".
                    The "verbose" setting argument is recommended for troubleshooting, though can quickly stretch available resources on limited hardware storage.</span>
                </div>
            </div>-->
          




            <div class="control-group" >
                <label class="control-label" for="port">Audio buffer size</label>
                <div class="controls">
                    <input class="input-large" class="input-large" type="text" id="audio-buffer-size" name="conf[audio_buffer_size]" value="$_mpd[audio_buffer_size]" data-trigger="change">
                    <span class="help-block">This specifies the size of the audio buffer in kibibytes. The default is 2048, large enough for nearly 12 seconds of CD-quality audio.</span>
                </div>
            </div>

			<div class="control-group" >
                <label class="control-label" for="dsd-usb">Buffer before play</label>
                <div class="controls">
					<select id="buffer-before-play" name="conf[buffer_before_play]" class="input-large">
					
					$_mpd_select[buffer_before_play]
					
					</select>

                    <span class="help-block"> This specifies how much of the audio buffer should be filled before playing a song. Try increasing this if you hear skipping when manually changing songs. The default is 10%, a little over 1 second of CD-quality audio with the default buffer size</span>
                </div>
            </div>
			

            <!-- <div class="control-group">
                <label class="control-label" for="auto-update-depth">Auto update depth</label>
                <div class="controls">
                    <input class="input-large" class="input-block-level" type="text" id="auto-update-depth" name="conf[auto_update_depth]" value="$_mpd[auto_update_depth]" data-trigger="change">
                    <span class="help-block">Limit the depth of the directories being watched, 0 means only watch the music directory itself. Leave blank for default (no limit).</span>
                </div>
            </div> -->
        </fieldset>
      <!--  <fieldset>
            <legend>Zeroconf / Avahi Service Discovery</legend>
            <div class="control-group">
                <label class="control-label" for="zeroconf-enabled">Zeroconf enabled</label>
                <div class="controls">

                    <select id="zeroconf-enabled" name="conf[zeroconf_enabled]" class="input-large">
   
					$_mpd_select[zeroconf_enabled] 
   
                    </select>

                    <span class="help-block">If this setting is set to "yes", service information will be published with Zeroconf / Avahi.</span>
                </div>
            </div> 
            <div class="control-group">
                <label class="control-label" for="zeroconf-name">Zeroconf name</label>
                <div class="controls">
                    <input class="input-large" type="text" id="zeroconf-name" name="conf[zeroconf_name]" value="$_mpd[zeroconf_name]">
                    <span class="help-block">The argument to this setting will be the Zeroconf / Avahi unique name for this MPD server on the network.</span>
                </div>
            </div>
        </fieldset>-->

        
    </form>
</div>
<div id="mpd-config-defaults" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mpd-config-defaults-label" aria-hidden="true">
		  <form name="mpdconf_reset" method="post" id="mpdconf_reset">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="mpd-config-defaults-label">Reset the configuration</h3>
			</div>
			<div class="modal-body">
				<p>You are going to reset the configuration to the default original values.<br>
				You will lose any modification.</p>
			</div>
			
			<div class="modal-footer">
			<input type="hidden" name="reset" value="1">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button type="submit" class="btn btn-primary" >Continue</button>
			</div>
		  </form>
</div>
